<!DOCTYPE html>
<html lang="uk">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="/static/styles/main.css">
    <title>Купити дурь</title>
    <style>
        
    </style>
</head>
<body>
    <header>
        <h1></h1>
        <p>Дурь Шептицький замовити !</p>
    </header>
    <main>
        <section class="product">
            <h2>Найкращий сорт </h2>
            <img src="/static/images/dure.jpg" alt="">
            <p>Ціна: 4500 грн 30 грам</p>
            <form action="#" method="POST">
                <label for="size">Пора року:</label>
                <select id="size" name="size" required>
                    <option value="Зима">Зима</option>
                    <option value="Весна">Весна</option>
                    <option value="Літо">Літо</option>
                    <option value="Осінь">Осінь</option>
                </select>
                <label for="name">Ваше ім'я:</label>
                <input type="text" id="name" name="name" placeholder="Введіть ваше ім'я" required>
                <label for="phone">Номер телефону:</label>
                <input type="tel" id="phone" name="phone" placeholder="+380123456789" required>
                <button type="submit">Замовити</button>
            </form>
        </section>

        
    </main>
</body>
</html>
